.btn-valid {
  width: 60%;
  margin: 0 auto 5rem;
  display: flex;
  justify-content: center;

  .buttonValide {
    height: 7rem;
    width: 15rem;
    padding: 0.5rem;
    background-color: #0921f5;
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 5px;

    @media screen and (min-width: 540px) {
      width: 15rem;
    }
  }
}

.modal-shadow {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  width: 40rem;
}

.modal {
  width: 80%;
  height: 15rem;
  background-color: rgba(255, 255, 255);
  box-shadow: 3px 3px 5px 2px rgba(185, 228, 241, 0.829);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem 0;
  animation-name: animatetop;
  animation-duration: 0.4s;

  h2 {
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;

    @media screen and (min-width: 540px) {
      font-size: 3rem;
    }
  }
  .modal-body {
    font-size: 1.5rem;
    padding: 10px 0px;
    text-align: center;

    @media screen and (min-width: 540px) {
      font-size: 2rem;
    }
  }
  h3 {
    text-align: center;
    font-size: 2rem;

    @media screen and (min-width: 540px) {
      font-size: 3rem;
    }
  }
}

.close {
  color: black;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 540px) {
  .modal-body {
    font-size: 1.8rem;
  }

  .modal-header > h2 {
    font-size: 1.5rem;
  }

  .modal-footer > h3 {
    font-size: 1.3rem;
  }

  .close {
    font-size: 2rem;
  }
}
