.header {
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  top: 25px;
  left: 30px;
  width: 12%;

  // .title-website {
  //   font-size: 2rem;
  //   color: black;
  //   justify-content: center;
  //   text-align: center;
  //   width: 90%;
  //   float: left;

  //   @media screen and (min-width: 720px) {
  //     font-size: 4rem;
  //   }

  //   @media screen and (min-width: 1024px) {
  //     font-size: 6rem;
  //   }
  // }

  .logo_header {
    width: 7%;
    float: right;
    margin-right: 1rem;
  }
}
