.page-bg {
  background-color: red;
  // background: url("@assets/bg3.png") no-repeat top center;
  // background-size: cover;
  // z-index: -1;
}

.container-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15rem;
  h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  p {
    font-size: 18px;
  }
}
