@charset "utf-8";

// Variables

:root {
  --font: lemonmilk;
}

@font-face {
  font-family: lemonmilk;
  src: url("./assets/fonts/LEMONMILK-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
