.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax1{
    background-image: url("../assets/pexels-kellie-churchman-1001682.jpg");
  }
  .parallax2{
    background-image: url("../assets/pexels-jeremy-bishop-2397651.jpg");
  }